*{
    padding:0;
    margin:0;
}
body{
    background-color:darkred;
    font-style:italic;
    color:white;
    text-align:center;
}
#header{
    background-color: darkgreen;
}
#header ul{
    display:flex;
    justify-content:center;
}
#header ul li{
    margin:20px;
    list-style-type: none;
}
a{
    color:gold;
}
.liens-boules{
    display:flex;
    justify-content:center;
}
.boule{
    border-radius:100%;
    width:350px;
    height:350px;
    overflow:hidden;
    background-color:white;
    margin:20px;
}
.promo{
    padding:20px;
    background-color:gold;
    color:darkred;
}


