{% extends "layout.html.twig" %}
{% block title %}
    Boule {{ couleur }}
{% endblock %}
{% block main %}
    
    <div class="produit">
        <img src="{{ asset("img/"~ couleur ~".jpg" )}}" alt="Boule {{ couleur }}" class="boule"/>
        <div class="presentation">
            <h1>Boule {{ couleur }}</h1>
            <p>Cette magnifique boule {{ couleur }} fera merveille sur votre sapin</p>
            {% set tarif = "45" %}
            {% if couleur == "bleue" or  couleur == "rouge" %}
                <p class="promo">PROMOTION !!!! -20% !!</p>
                {% set tarif = tarif - (tarif * 20 / 100 ) %}
            {% endif %}
            <p class="prix">{{ tarif }}€</p>
            <button>J'achète !</button> 
        </div>
    </div>
{% endblock %}