{% extends "layout.html.twig" %}
{% block title %}
    Noël et Cie
{% endblock %}
{% block main %}
            <h1>Bienvenue sur le site de Noël et Cie</h1>
            <p>Les meilleurs produits du marché !</p>
            <div class="liens-boules">
                <div class="boule">
                    <a href="{{ path("boule", {"couleur":"rouge"})}}" ><img src="{{ asset("img/rouge.jpg") }}" alt="boule rouge"></a>
                    <p class="promo">PROMO !!</p>
                </div>
            
                <div class="boule">
                    <a href="{{ path("boule", {"couleur":"bleue"})}}" ><img src="{{ asset("img/bleue.jpg") }}" alt="boule bleue"></a>
                    <p class="promo">PROMO !!</p>
                </div>
                <div class="boule">
                    <a href="{{ path("boule", {"couleur":"multicolore"})}}" ><img src="{{ asset("img/multicolore.jpg") }}" alt="boule multicolore"></a>
                </div>
            </div>
{% endblock %}