{% extends "base.html.twig" %}
{% block body %}
    <div id="content">
        <div id="header">
            <h2>Noël et Cie</h2>
            <nav>
                <ul>
                    <li><a href="{{ path("boule", {"couleur":"rouge"})}}" >Boule rouge</a></li>
                    <li><a href="{{ path("boule", {"couleur":"bleue"})}}" >Boule bleue</a></li>
                    <li><a href="{{ path("boule", {"couleur":"multicolore"})}}">Boule multicolore</a></li>
                </ul>
            </nav>
        </div>
        <div id="main">
            {% block main %}
            {% endblock %}
        </div>
        <div id="footer">
            <p>©Noël et Cie - 2020</p>
        </div>
    </div>
{% endblock %}